.player_container {
    padding: 4px;
    display: inline-block;
}

.soundplayer {
    position: relative;
    display: inline-block;
}

.soundplayer.mini {
    width: 120px;
}

.soundplayer.small {
    width: 150px;
}

.soundplayer.medium {
    width: 210px;
}

.soundplayer .wavesurfer {
    position: relative;
}

.soundplayer .dimmer {
    position: absolute;
    top: auto !important;
    bottom: 0;
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
    margin: 0;
}

.soundplayer .playbar:not(.active) {
    visibility: hidden;
}

.wavesurfer canvas {
    height: 100%;
    width: 100%;
}

.wavesurfer .view {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.wavesurfer .progress-bar {
    display: block !important;
    border-right-color: rgb(200,200,200) !important;
}

.soundplayer .playbar {
    position: absolute;
    bottom: 0;
    z-index: 2;
    width: 100%;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
    display: flex;
    justify-content: space-between;
}

.soundplayer.mini .playbar {
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgba(0,0,0,0);
}

.soundplayer.mini:hover .playbar {
    background-color: rgba(0,0,0,0.5);
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
}

.soundplayer.small .playbar {
    padding: 4px;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0));
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
}

.soundplayer.medium .playbar {
    padding: 5px 8px;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0));
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
}

.soundplayer.small:hover .playbar,
.soundplayer.medium:hover .playbar {
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.7));
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
}

.soundplayer.small .controls-container,
.soundplayer.medium .controls-container {
    display: flex;
    align-items: center;
}

.soundplayer.mini .controls {
    height: 40%;
}

.soundplayer .playbar .button {
    background-color: transparent;
    padding: 0;
}

.soundplayer.mini .playbar .button {
    padding: 0 5px;
}

.soundplayer.small .playbar .button {
    margin-right: 5px;
}

.soundplayer.medium .playbar .button {
    margin-right: 10px;
}

.soundplayer .playbar .button .icon {
    color: rgb(256,256,256);
    opacity: 0.5;
}

.soundplayer.mini .playbar .button .icon {
    opacity: 0;
    font-size: 1.3em;
}

.soundplayer:hover .playbar .button .icon {
    opacity: 1;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
}

.soundplayer .playbar .button:hover .icon {
    color: #db2828;
}

.soundplayer.small .timer-container,
.soundplayer.medium .timer-container {
    display: flex;
    align-items: center;
}

.soundplayer .playbar .timer {
    font-size: 12px;
    color: rgb(256,256,256);
    cursor: default;
    opacity: 0.5;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
}

.soundplayer:hover .playbar .timer {
    opacity: 1;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
}