.soundplayer {
    position: relative;
}

.wavesurfer .view {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.wavesurfer .progress-bar {
    display: block !important;
}

.soundplayer .playbar {
    position: absolute;
    bottom: 0;
    z-index: 2;
    width: 100%;
    padding: 2px 5px 2px 2px;
    background-color: rgba(0,0,0,0.5);
}

.soundplayer .playbar .button {
    background-color: transparent;
    padding: 5px;
}

.soundplayer .playbar .button .icon {
    color: rgb(256,256,256);
}

.soundplayer .playbar .button:hover .icon {
    color: #db2828;
}

.soundplayer .playbar .timer {
    font-size: 12px;
    color: #FFF;
    height: 100%;
}
