.soundplayer {
    position: relative;
}

.wavesurfer .view {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.wavesurfer .progress-bar {
    display: block !important;
}

.soundplayer .playbar {
    position: absolute;
    bottom: 0;
    z-index: 2;
    width: 100%;
    padding: 2px 5px 2px 2px;
    background-color: rgba(0,0,0,0);
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
}

.soundplayer:hover .playbar {
    background-color: rgba(0,0,0,0.5);
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
}

.soundplayer .playbar .button {
    background-color: transparent;
    padding: 5px;
}

.soundplayer .playbar .button .icon {
    color: rgb(256,256,256);
    opacity: .5;
}

.soundplayer:hover .playbar .button .icon {
    opacity: 1;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
}

.soundplayer .playbar .button:hover .icon {
    color: #db2828;
}

.soundplayer .playbar .timer {
    font-size: 12px;
    color: #FFF;
    height: 100%;
    cursor: default;
}
